.signUpFormContainer{
    margin: 223px auto;
    height: 321px;
    width: 416px;
    position: relative;
    bottom: 4.71%;   
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.signUpForm{
    /* margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.signUpFormInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpFormFields > p{
    /* display: block; */

    text-align: left;
}

.signUpFormButtons{
    display: flex;
    justify-content: space-around;

}

.signUpPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
    background: #FAFAFA;
}

.signUpPage-dark-mode{
    background: #333;
    color: #FFFFFF;
}

.signUpPage-dark-mode h1{
    color: #FFFFFF;
}

.signUpPage-dark-mode .signUpForm-dark-mode {
    color: #FFFFFF;
    background-color: #222222!important;
}