.viewMessagePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
}

.viewMessagePage-dark-mode{
    background: #333;
    color: #FFFFFF;
}