.loginFormContainer{
    margin: 223px auto;
    height: 321px;
    width: 416px;
    position: relative;
    bottom: 4.71%;   
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.loginForm{

}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.loginFormInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginFormFields > p{
    text-align: left;
}

.loginFormButtons{
    display: flex;
    justify-content: space-around;
}

.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background: #FAFAFA;
}

.loginPage-dark-mode{
    background: #333;
    color: #FFFFFF;
}

.loginPage-dark-mode h1{
    color: #FFFFFF;
}

.loginPage-dark-mode .loginForm-dark-mode{
    color: #FFFFFF;
    background-color: #222222!important;
}