.message {
  margin: 2.5rem 0;
  width: 38.5rem;
  background: #FFFFFF;
  border: 0.0625rem solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 0.125rem;
  font-family: 'Roboto', sans-serif;
}

.fa-heart {
  width: 1.125rem;
  height: 1.125rem;
  color: rgb(248, 170, 183);
  margin: 0 0.3125rem 0 0;
}

.fa-heart:hover {
  color: red;
  transform: scale(1.2);
}

.fa-heart.clicked {
  animation: flash-red 2s linear;
}

@keyframes flash-red {
  0% {
    color: rgb(248, 170, 183);
  }

  25% {
    color: rgb(240, 117, 117)k;
  }

  50% {
    color: red;
  }

  75% {
    color: rgb(240, 117, 117);
  }

  100% {
    color: rgb(248, 170, 183);
  }
}

.status,
.messageHeader,
.author {
  display: flex;
}

.messageHeader {
  flex-direction: row;
  height: 3.75rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem 0 1.125rem;
}

.author {
  flex-direction: row;
  align-items: center;
}

.authorImage {
  background-image: url('../../images/testProfilePic.png');
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.imgContainer {
  display: flex;
  width: 38.5rem;
  height: 38.5rem;
  background: #1b1b1b;
  align-items: center;
  justify-content: center;
}

.imgContainer>img {
  width: 38.5rem;
  height: 38.5rem;
  object-fit: cover;
}

.messageFooter {
  /* display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center; /
/ padding: 1.125rem 1.125rem 1.125rem 1.125rem; */
}

.likes,
.totalComments {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.3px;
  color: #ABABAB;
  padding-right: 0.3125rem;
}

.messageInfo {
  text-align: left;
  padding: 0.9375rem;
  font-size: 0.9375rem;
}

.messageInfo p {
  margin: 0.3125rem 0;
}

.messageInfo a {
  text-decoration: none;
  color: #ABABAB;
  margin: 0.3125rem 0;
}

.DropDownMenu {
  width: 2rem;
  height: 1.625rem;
  border-radius: 0.1875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.DropDownMenu:hover {
  background: rgba(143, 143, 143, 0.19);
}

.dot {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #262626;
  margin: 0 0.0625rem;
}

.more {
  display: none;
}

.deleteButton {
  display: none;
}

.showDelete {
  display: initial;
}

.profilePic {
  background: black;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.625rem;
}

.description {
  padding: 0 1.25rem;
}

.messageOptions {
  margin: 0.9375rem 0;
}

.addCommentSection {
  padding: 0 0.9375rem;
}

.messageText {
  text-align: left;
  padding: 0 0.9375rem 0.5rem 0.9375rem;
  font-size: 0.9375rem;
}

.messageTextLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentInput {
  margin: 0.9375rem 0;
}

.card-body {
  padding: 0;
}

.card-footer {
  padding: 0;
}