.message {
    margin: 40px 0;
    width: 616px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
}

.fa-heart {
    width: 18px;
    height: 18px;
    color: rgb(248, 170, 183);
    margin: 0 5px 0 0;
  }
  
.fa-heart:hover {
    color: red;
    transform: scale(1.2);
}

.fa-heart.clicked {
    animation: flash-red 2s linear;
}

@keyframes flash-red {
    0% { color: rgb(248, 170, 183); }
    25% { color: rgb(240, 117, 117)k; }
    50% { color: red; }
    75% { color: rgb(240, 117, 117); }
    100% { color: rgb(248, 170, 183); }
  }

  .status, .messageHeader, .author {
      display: flex;
  }

  .messageHeader {
      flex-direction: row;
      height: 60px;
      align-items: center;
      justify-content: space-between;
      padding: 0 4px 0 18px;
  }

  .author {
      flex-direction: row;
      align-items: center;
  }

  .authorImage {
    /* background: #C4C4C4; */
    /* background: #1b1b1b; */
    background-image: url('../../images/testProfilePic.png');
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .imgContainer{
      display: flex;
      width: 614px;
      height: 614px;
      background: #1b1b1b;
      align-items: center;
      justify-content: center;
  }

  .imgContainer > img {
      width: 614px;
      height: 614px;
      object-fit: cover;
}

.messageFooter{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    /* padding: 18px 18px 18px 18px; */
}

.likes, .totalComments {
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.3px;
    color: #ABABAB;
    padding-right: 5px;
  }

  .messageInfo {
    text-align: left;
    padding: 15px;
    font-size: 15px;
  }

  .messageInfo p {
      margin: 5px 0;
  }

  .messageInfo a {
      text-decoration: none;
      color: #ABABAB;
      margin: 5px 0;
  }

  .DropDownMenu {
      width: 32px;
      height: 26px;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border: none;
  }

  .DropDownMenu:hover {
    background: rgba(143, 143, 143, 0.19);
  }

  .dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #262626;
      margin: 0 1px;
  }


  .more {
      display: none;
  }

  .deleteButton{
      display: none;
  }

  .showDelete {
      display: initial;
  }

  .profilePic{
    /* background: #C4C4C4; */
    background: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .description{
    padding : 0 20px ;
  }

  .messageOptions{
    margin : 15px 0 ;
  }

  .addCommentSection{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    padding: 0 15px;
  }

  .messageText {
    text-align: left;
    padding: 0 15px 8px 15px;
    font-size: 15px;
  }

.messageTextLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
}